@tailwind components;
@tailwind base;
@tailwind utilities;

:root {
  --dark: #171717;
  --light: #e5e5e5;
  --accent: #20697a;
  --yellow: #f7b83d;
  --orange: #f9923c;
  --green: #10a43390;
  --cream: #f0e6d4;
}

* {
  user-select: none;
}

html, body {
  height: 100vh;
  /* min-width: 360px; */
}

/** FROSTED GLASS EFFECT */
.frosted-glass {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: #17171760;
  border-radius: 20px;
}
  /** FROSTED GLASS EFFECT: ERROR  */
  .frosted-glass-error {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: url("/backgrounds/shapes/blobs/red.svg");
    /* background: url("/backgrounds/shapes/poly-grids/lg.svg"); */
    /* background: url("/backgrounds/shapes/steps/up.svg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

/** LINK/LINK HOVER EFFECT */
.link {
  position: relative;
  font-weight: 600;
  font-style: italic;
  color: var(--orange);
  cursor: pointer;
}

.link:hover {
  color: var(--orange);
}

.link::before, .link::after {
  content: '';
  position: absolute;
  background-color: var(--orange);
  width: 0;
  height: .125rem;
  margin: -.1rem;
  border-radius: 100px;
  transition: width 300ms ease-in-out;
  transform-origin: center;
}

.link::before {
  bottom: 0;
  left: 50%;
}

.link:hover::before {
  width: 51%;
}

.link::after {
  bottom: 0;
  right: 50%;
}

.link:hover::after {
  width: 51%;
}
